body{
  background-color: red;

}
header{
  background-color: black;
  color: blue;
  text-align: center;

}
h3{
  text-align: center;

}
h2{
  text-align: center;
  text-decoration: underline;

}
h1{
  text-align: center;
  text-decoration: underline;
}
footer{
  text-align: center;
  background-color: black;
  color: blue;
}
#button1:hover{
    background-color: blue;
  font-size: 22px;

}
button{
  font-size: 22px;
}
#button2:hover{
    background-color: blue;
font-size: 22px;
}
#button3:hover{
    background-color: blue;
font-size: 22px;
}
#button4:hover{
    background-color: blue;
font-size: 22px;
}
#button5:hover{
    background-color: blue;
font-size: 22px;
}
#button6:hover{
    background-color: blue;
font-size: 22px;
}
#button7:hover{
    background-color: blue;
font-size: 22px;
}

img{
  height: 140px;
  width: 140px;
}
.newbuttons{
    display: none;
}


h1 {
    width: 375px;
    height: 35px;
    background-color: red;
    position: relative;

    /* Safari 4.0 - 8.0 */
    -webkit-animation-name: example;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 7s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    /* Standard syntax */
    animation-name: example;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:590px; top:0px;}
    50%  {background-color:blue; left:590px; top:25px;}
    75%  {background-color:yellow; left:0px; top:25px;}
    100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:590px; top:0px;}
    50%  {background-color:blue; left:590px; top:25px;}
    75%  {background-color:yellow; left:0px; top:25px;}
    100% {background-color:red; left:0px; top:0px;}
}
